/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 150px!important

.content__default a:-webkit-any-link {
    text-decoration: underline;
}