/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 150px!important

.content__default a:-webkit-any-link {
    /*text-decoration: underline;*/
}
div[class*="language-"] .highlight-lines .highlighted {
    background-color: #0c3d3f;
}

div[class*="language-"] pre:hover .code-copy {
    opacity: 0.5;
    top: 32px;
    right: 8px;
    width: 20px;
    height: 29px;
}

div[class*="language-"] pre:hover .code-copy:active {
    opacity: 1;
}
