.home .hero img {
  max-width: 150px !important;
}

.content__default a:-webkit-any-link {
    text-decoration: underline;
}

svg.icon.outbound {
    display: none;
}

a>span {
    display: none;
}

div[class*="language-"] .highlight-lines .highlighted {
    background-color: #0c3d3f;
}

div[class*="language-"] pre:hover .code-copy {
    opacity: 0.5;
    top: 32px;
    right: 8px;
    width: 20px;
    height: 29px;
}

div[class*="language-"] pre:hover .code-copy:active {
    opacity: 1;
}

.profile {
  border-radius: 50%;
  width: 30px;
}

body, html {
    margin: 0;
    min-height: 100vh;
}
