:root {
    --c-brand: #00828e;
    --c-brand-light: #00a4b3;
    --c-text: #2c3e50;
    --c-border: #eaecef;
    --c-bg-sidebar: #f5f5fa;
    --code-bg-color: #043236;
    --content-width: 820px;
    --font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
